.d-flex{
    display: flex;
}
.conteiner1 {
    width: 1088px;
    margin: 0 auto;
}
.fa-bars {
    display: none;
    font-size: 40px;
}
.header-bg{
    background-image: url(../img/header.jpg);
    width: 100%;
    height: 795px;
    background-repeat: no-repeat;
    background-size: cover;
}
.acolor{
    color: aliceblue;
}

.navigation-wraper {
    justify-content: space-between;
    padding: 40px 20px;
    align-items: center;
    
}
.a-li{
    margin-right: 55px;
}
.h1isdivi{
    color: white;
    margin-top: 175px;
    font-size: 70px;
}
.pdiv1{
    color: #FFFFFF;
    margin-top: 56px;
    font-size: 20px;
    font-family: 'Redressed', cursive;
}
.batt1{
    width: 166px;
    height: 55px;
    background-color: white;
    margin-top: 64px;
    border-radius: 25px;
}
.ppp1{
    padding-left: 33px;
    padding-top: 18px;
}
.isari{
    margin-left: 18px;
}
/* section1 */
.section1-main-div {
    justify-content: space-evenly;
}

.m-left-div {
    justify-content: center;
    display: flex;
    flex-direction: column;
    align-items: center;
}


.s1h2div{
    font-size: 25px;
    color: #04151F;
}
.c1p1div{
    width: 235px;
    height: 101px;
    font-size: 15px;
    color: #707070;
    margin-top: 24px;
    font-family: 'Redressed', cursive;
}
/* section2 */
.s2-bg{
    background-image: url(../img/s2photo.jpg);
    width: 100%;
    height: 836px;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    text-align: center;
}
.s2right{
    height: 149px;
    position: absolute;
    top: 152px;
    right: 20px;
}
.ruka{
    width: 830px;
    height: 800px;
    padding-top: 120px;
}
.s3h2{
    margin-top: 202px;
    margin-left: -95px;
    font-size: 25px;
}
.s3div1{
    width: 550px;
    height: 100px;
    margin-top: 26px;
    margin-left: -95px;
    font-family: 'Redressed', cursive;
}
.s3photo{
    margin-top: 15px;
    margin-left: -118px;
}
/* .sec4{ */
    /* height: 340px;
    width: 100%;
} */
.s4h2{
    font-size: 25px;
}
.s4divi{
    text-align: center;
}
.s4divi2{
    width: 550px;
    height: 101px;
    text-align: center;
    margin: 0  auto;
    margin-top: 24px;
    font-family: 'Redressed', cursive;
}
/* sec 5 */
.sec5conteiner{
    width: 1227px;
    /* height: 1052px; */
    margin: 0  auto;
}
.s5divi{
    justify-content: space-between;
}
.s5surati2{
    margin-top: 14.2px;
    margin-bottom: 14.2px;
}
.s5bolofoto{
    margin-top: 14.2px;
}
/* footer */
.footer{
    height: 350px;
    width: 100%;
}
.footer-logo{
    margin-left: 160px;
    margin-top: 25px;
}
.footer-div1{
    width: 315px;
    height: 78px;
    margin-left: 160px;
    margin-top: 31px;
    font-family: 'Redressed', cursive;
}
.footer-div2{
    margin-left: 117px;
    margin-top: 35px;
}
.footer-ul{
    margin-top: 35px;
}
.footer-li{
    margin-bottom: 25px;
}
.footer-a1{
    color: #AAA9A9
}
.footer-div3{
    margin-top: 35px;
    margin-left: 157px;
}
.footer1-div4{
    height: 27px;
    width: 115px;
    margin-left: 117px;
    margin-top: 35px;
}
.footer-div4{
    height: 52px;
    width: 275px;
    margin-top: 35px;
    color: #AAA9A9;
    font-family: 'Redressed', cursive;
}
.ft-contact{
    margin-top: 25px;
    margin-bottom: 25px;
    
}
.ft-contact1{
    color: #688095;
}
